<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Listings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/custom-styles.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/intro.js/minified/introjs.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ebay all revise</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <!-- チュートリアル開始ボタン -->
             <button class="btn btn-info" onclick="startTutorial()">チュートリアルを開始</button>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- サイドナビゲーション -->
            <nav class="col-md-2 d-md-block bg-light sidebar" data-intro="ここはサイドバーです。ナビゲーションリンクがあります。">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="https://www.ebay.com/sh/lst/active" target="_blank">
                                my ebay
                            </a>
                        </li>
                        <!-- その他のナビゲーションリンク -->
                    </ul>
                </div>
            </nav>

        <!-- メインコンテンツ -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" data-intro="これがメインコンテンツエリアです。">
                <!-- リスト表示 -->
                <div class="row" id="listingsArea">
                    {% for item in listings %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <!-- 画像の表示 -->
                            {% if item.get('PictureURL') %}
                                {% if item.get('PictureURL') is iterable and not item.get('PictureURL') is string %}
                                    <!-- リストであり、要素が存在する場合、最初の画像を表示 -->
                                    <img src="{{ item.get('PictureURL')[0] }}" alt="商品画像" class="card-img-top"/>
                                    <button class="btn btn-primary gpt-item-description-btn" data-item-id="{{ item.key.name }}" data-image-url="{{ item.get('PictureURL')[0] }}">Generate and Save GPT Description</button>
                                {% elif item.get('PictureURL') is string %}
                                    <!-- 文字列の場合、そのまま画像URLとして表示 -->
                                    <img src="{{ item.get('PictureURL') }}" alt="商品画像" class="card-img-top"/>
                                    <button class="btn btn-primary gpt-item-description-btn" data-item-id="{{ item.key.name }}" data-image-url="{{ item.get('PictureURL') }}">Generate and Save GPT Description</button>
                                {% else %}
                                    <!-- 画像が存在しない場合の処理 -->
                                    <div class="card-img-top placeholder-image">No Image Available</div>
                                {% endif %}
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item.get('Title') }}</h5>
                                <p class="card-text">Price: ${{ item.get('Price') }}</p>
                                {% if item.get('Generated_title') %}
                                    <p class="card-text">Generated Title: {{ item.get('Generated_title') }}</p>
                                    <button class="btn btn-primary update-title-btn" data-item-id="{{ item.key.name }}" data-generated-title="{{ item.get('Generated_title') }}">Update Title</button>
                                {% endif %}
                                {% if item.get('GPTdescription') %}
                                    <p class="card-text">{{ item.get('GPTdescription') }}</p>
                                {% endif %}
                                <button class="btn btn-primary generate-title-btn" data-item-id="{{ item.key.name }}" data-description="{{ item.get('GPTdescription', '') }}">Generate GPT Title</button>
                                
                                <!-- GPT Descriptionを表示する領域 -->
                                <p class="gpt-description-text" style="display:none;"></p>
                                <!--編集ボタン-->
                                <button class="btn btn-primary edit-item-btn" data-item-id="{{ item.key.name }}">Edit</button>
                                <!-- form -->
                                <form class="revise-description-form">
                                    <input type="hidden" name="item_id" value="{{ item.key.name }}">
                                    <textarea name="new_description" rows="4" cols="30">ここに新しい説明を入力</textarea>
                                    <button type="submit">説明を更新</button>
                                </form>                                
                                <div id="result-message"></div>
                                   <!-- item_specifics GPT reviseボタンを追加 -->
                                {% if item.get('GPTdescription') %}
                                    <p class="card-text">Generated specifics</p>
                                    <!-- templates/active_listings.html -->
                                    <button class="btn btn-secondary revise-specifics-gpt-btn" data-item-id="{{ item.key.name }}" data-gpt-description="{{ item.GPTdescription }}">Item Specifics with GPT</button>
                                {% endif %}
                                {% if item.get('Generate_ItemSpecifics') %}
                                    <p class="card-text">Generated itemspecifics: {{ item.get('Generate_ItemSpecifics') }}</p>
                                    <button class="btn btn-primary update-itemspecifics-btn" data-item-id="{{ item.key.name }}" data-generate-itemspecifics="{{ item.get('Generate_ItemSpecifics') }}">Update specifics</button>
                                {% endif %}
                                {% if item.get('StartTime') %}
                                    {% set viewItemURL = item.get('StartTime').ViewItemURL %}
                                    <p class="card-text"><a href="{{ viewItemURL }}" target="_blank">ebayページで確認</a></p>
                                {% endif %}
                            </div>
                            <!-- フッター部分（例: アイテムIDの表示） -->
                            <div class="card-footer">
                                <small class="text-muted">Item ID: {{ item.key.name }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- ページネーション -->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if next_cursor %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('active_listings', cursor=next_cursor) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>

        </main>
    </div>
    <!-- 他のコンテンツ -->
    {% include 'modal_price_update.html' %}

    <script>
    $(document).on('click', '.edit-item-btn', function() {
        var itemId = $(this).data('item-id');
        // 編集ページにアイテムIDを渡す方法を実装
        // 例: クエリパラメータとして渡す
        window.location.href = '/edit-item/' + itemId;
    });

    document.getElementById('listingsArea').addEventListener('submit', function(event) {
        if (event.target.matches('.revise-description-form')) {
            event.preventDefault();

            var formData = new FormData(event.target);
            var data = {
                item_id: formData.get('item_id'),
                new_description: formData.get('new_description')
            };

            fetch('/revise-item-description', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                var resultMessageDiv = event.target.nextElementSibling;
                if (data.success) {
                    // 成功時のメッセージを表示
                    resultMessageDiv.textContent = 'Success: ' + data.message;
                    resultMessageDiv.style.color = 'green'; // 成功メッセージの色を緑に設定
                } else {
                    // エラー時のメッセージを表示
                    resultMessageDiv.textContent = 'Error: ' + data.message;
                    resultMessageDiv.style.color = 'red'; // エラーメッセージの色を赤に設定
                }
            })
            .catch((error) => {
                // ネットワークエラーやその他のエラーの処理
                var resultMessageDiv = event.target.nextElementSibling;
                resultMessageDiv.textContent = 'An error occurred: ' + error.message;
                resultMessageDiv.style.color = 'red'; // エラーメッセージの色を赤に設定
            });
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        // "revise-specifics-gpt-btn"クラスを持つボタンにイベントリスナーを設定
        const buttons = document.querySelectorAll('.revise-specifics-gpt-btn');
        buttons.forEach(button => {
            button.addEventListener('click', function() {
                const itemId = this.getAttribute('data-item-id');
                const gptDescription = this.getAttribute('data-gpt-description');
                generateItemSpecificsWithGPT(itemId, gptDescription);
            });
        });
    });

    function generateItemSpecificsWithGPT(itemId, gptDescription) {
        // Ajaxを使用してサーバーにPOSTリクエストを送信
        fetch('/generate-item-specifics', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                item_id: itemId,
                gpt_description: gptDescription  // GPTで生成された商品の説明を含める
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Item specifics generated and saved successfully');
            } else {
                alert('Error: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }




    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/intro.js/minified/intro.min.js"></script>
    <script src="{{ url_for('static', filename='js/main_gpt_scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/price_scripts.js') }}"></script>
    
</body>
</html>
