<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <!-- サイドバーのメインメニュー -->
        <div class="sb-sidenav-menu">
            <div class="nav">
                <!-- メニュー見出し: アイテム -->
                <div class="sb-sidenav-menu-heading">Item</div>
                <a class="nav-link" href="/active-listings">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    my商品リスト
                </a>

                <!-- メニュー見出し: リサーチ -->
                <div class="sb-sidenav-menu-heading">Research</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    リサーチ
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <a class="nav-link" href="watch_count">watchCount</a>
                    <a class="nav-link" href="market_terapeak">市場分析</a>
                </div>

                <!-- データ更新メニュー -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    データ更新
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <a class="nav-link" href="ebay-connect">ebayアクティブ更新</a>
                    <!-- 未実装のリンクは無効化（または適切なURLを設定） -->
                    <a class="nav-link disabled" href="#">ebay除外リスト更新</a>
                </div>

                <!-- アドオンメニュー -->
                <div class="sb-sidenav-menu-heading">Support</div>
                <a class="nav-link" href="/charts">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    マニュアル
                </a>
                <a class="nav-link" href="https://share.hsforms.com/1_-rwr1Y3Raa3lndOr9NbiQc7tw9">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    お問い合わせ
                </a>
            </div>
        </div>

        <!-- サイドバーのフッター -->
        <div class="sb-sidenav-footer">
            <div class="small">ebay export:</div>
            from by Awiiin
        </div>
    </nav>
</div>
